<h3>Comandos a ejecutar</h3>
<form method='post' action='/inicio'>
    <input type="text" name="comandos_auto">
    <input type="submit" value="ejecutar">
</form>
<h3>Posicion Inicial: <%=@posicionInicial%> </h3>
<h3>Comandos: <%=@comandos%> </h3> 
<h3>Posicion Final: <%=@posicionFinal%> </h3> 

