
<h3>Comandos a ejecutar</h3>
<form method='post' action='/inicio'>
    <textarea name="datos_ingresados" col="10" rows="20"></textarea>

    <input type="submit" value="ejecutar">
</form>

<label>Superficie de Terreno: <%=@superficie%> </label><br/>