<h3>Comandos a ejecutar</h3>
<form method='post' action='/inicio'>
     <textarea name="datos_ingresados" col="10" rows="10"></textarea>
    <input type="submit" value="ejecutar">
</form>

<label>Posicion Inicial: <%=@posicionInicial%></label><br/>
<label>Comandos: <%=@comandos%></label><br/>
<label>Posicion Final: <%=@posicionFinal%></label><br/>
